<form action="/weather">
  <label for="city">Enter a City:</label>
  <input type="text" name="city">
  <input type="submit">
</form>

<% if @forecasts %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Temp</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.datetime %>, <%= forecast.temp %>: <%= forecast.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>